@font-face {
  font-family: "Montserrat";
  src: url(./static/Montserrat-Regular.ttf) format("truetype");
  width: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url(./static/Montserrat-Bold.ttf) format("truetype");
  width: 700;
}