:root {
  --font-family: "Montserrat", sans-serif;
  --font-size: 14px;
  --font-width: 400;
  --cover-image-place: url(../images/back-ground.jpg);
  --background-color: #cdcdcd;
  /*из шаблона*/
    --color-primary: #000000;
    --color-secondary: #ffffff;
    --color-text: #000000;
    --color-background: #ffffff;
    --color-border: #e5e5e5;
    --color-accent: #007acc;
    --color-accent-dark: #005c99;
}